.panel-footer {
  color: white;
  background-color: #222222;
  font-size: 8px; }

.main-panel {
  height: 100%; }

body {
  height: 100%; }

#root {
  height: 100%; }

.extra-padding {
  padding-top: 10px; }

.navbar-brand > img {
  display: inline; }

.small-add-button {
  width: 30px;
  height: 30px;
  float: left; }

.add-top-padding {
  padding-top: 5px; }

.cross-text {
  text-decoration: line-through; }

.panel-group {
  margin-bottom: 5px; }

.icon-animation {
  height: 25px;
  margin-right: 5px;
  animation: icon-animation-frames linear 1s infinite;
  -webkit-animation: icon-animation-frames linear 1s infinite;
  -moz-animation: icon-animation-frames linear 1s infinite;
  -o-animation: icon-animation-frames linear 1s infinite;
  -ms-animation: icon-animation-frames linear 1s infinite; }

@keyframes icon-animation-frames {
  0% {
    transform: rotate(0deg) scaleX(1) scaleY(1); }
  10% {
    transform: rotate(-3deg) scaleX(0.9) scaleY(0.9); }
  20% {
    transform: rotate(-3deg) scaleX(0.9) scaleY(0.9); }
  30% {
    transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  40% {
    transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  50% {
    transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  60% {
    transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  70% {
    transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  80% {
    transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  90% {
    transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  100% {
    transform: rotate(0deg) scaleX(1.1) scaleY(1.1); } }

@-moz-keyframes icon-animation-frames {
  0% {
    -moz-transform: rotate(0deg) scaleX(1) scaleY(1); }
  10% {
    -moz-transform: rotate(-3deg) scaleX(0.9) scaleY(0.9); }
  20% {
    -moz-transform: rotate(-3deg) scaleX(0.9) scaleY(0.9); }
  30% {
    -moz-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  40% {
    -moz-transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  50% {
    -moz-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  60% {
    -moz-transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  70% {
    -moz-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  80% {
    -moz-transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  90% {
    -moz-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  100% {
    -moz-transform: rotate(0deg) scaleX(1.1) scaleY(1.1); } }

@-webkit-keyframes icon-animation-frames {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1); }
  10% {
    -webkit-transform: rotate(-3deg) scaleX(0.9) scaleY(0.9); }
  20% {
    -webkit-transform: rotate(-3deg) scaleX(0.9) scaleY(0.9); }
  30% {
    -webkit-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  40% {
    -webkit-transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  50% {
    -webkit-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  60% {
    -webkit-transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  70% {
    -webkit-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  80% {
    -webkit-transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  90% {
    -webkit-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  100% {
    -webkit-transform: rotate(0deg) scaleX(1.1) scaleY(1.1); } }

@-o-keyframes icon-animation-frames {
  0% {
    -o-transform: rotate(0deg) scaleX(1) scaleY(1); }
  10% {
    -o-transform: rotate(-3deg) scaleX(0.9) scaleY(0.9); }
  20% {
    -o-transform: rotate(-3deg) scaleX(0.9) scaleY(0.9); }
  30% {
    -o-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  40% {
    -o-transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  50% {
    -o-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  60% {
    -o-transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  70% {
    -o-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  80% {
    -o-transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  90% {
    -o-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  100% {
    -o-transform: rotate(0deg) scaleX(1.1) scaleY(1.1); } }

@-ms-keyframes icon-animation-frames {
  0% {
    -ms-transform: rotate(0deg) scaleX(1) scaleY(1); }
  10% {
    -ms-transform: rotate(-3deg) scaleX(0.9) scaleY(0.9); }
  20% {
    -ms-transform: rotate(-3deg) scaleX(0.9) scaleY(0.9); }
  30% {
    -ms-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  40% {
    -ms-transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  50% {
    -ms-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  60% {
    -ms-transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  70% {
    -ms-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  80% {
    -ms-transform: rotate(-3deg) scaleX(1.1) scaleY(1.1); }
  90% {
    -ms-transform: rotate(3deg) scaleX(1.1) scaleY(1.1); }
  100% {
    -ms-transform: rotate(0deg) scaleX(1.1) scaleY(1.1); } }
